@page
@model RealMission7.Pages.CheckoutCompletedModel
@{
}

<div class="text-center text-uppercase text-xl-center">
    <h2>Thanks! These Books will change your life </h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>